th, .page.list h1, .form-group label {
    text-transform: capitalize;
}

.page.edit.invoices .selection > .btn {
    display: block;
}

.page.edit.invoices .selection:not(:hover) [type=search] {
    display: none;
}

.page.edit.invoices .selection:not(:hover) tr {
    display: none;
}

.page.edit.invoices .selection:not(:hover) tr.selected td {
    border-top: none;
}

.total .name:after {
    content: ': '
}

.page.edit.invoices .selection:not(:hover) .create {
    display: none;
}

.page.edit.invoices .selection:not(:hover) tr.selected input[type=radio],
.page.edit.invoices .selection:not(:hover) tr.selected input[type=checkbox] {
    display: none;
}

.page.list {
    position: relative;
    min-height: 30px;
}

.page.edit.invoices .selection:not(:hover) .no-selection:after {
    position: absolute;
    width: 100%;
    content: 'Select';
}

.page.edit.invoices .selection tr {
    cursor: pointer;
}

.page.edit.invoices .selection tr.selected {
    display: table-row;
}

.btn {
    margin-right: 8px;
}

td.total:before {
    content: '$';
}

td.discount:after {
    content: '%';
}
